:root {
    --fuente-titulos: 'Titillium Web', sans-serif;
    --fuente-texto: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fuente-texto);
    scroll-behavior: smooth;
}

img {
    width: 100%;
    vertical-align: middle;
}

h1 > a,
h2,
h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}

header {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: calc(-100vh + 3em); 
    z-index: 1;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header > p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12vw;
    width: 2em;
    margin-left: 1rem;
    z-index: 1;
    font-weight:bold;
    color: yellow;
    mix-blend-mode:exclusion; 
}

/* #menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}*/
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: yellow;
    color: rgb(0, 0, 0);
    mix-blend-mode:normal; 
    z-index: 1000;
  }

#menu > div:first-child > i,
#menu > div:first-child > ul > li:last-child {
    display: none;
}

#menu > div:first-child > ul {
    width: 30em;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#menu > div:first-child > ul > li {
    list-style: none;
}

#menu > div:nth-child(2) {
    width: 6em;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu > div:nth-child(2) > i {
    cursor: pointer; /* para elegir que puntero tiene el cursor, se pinta una mano para que el usuario sepa que puede hacer click por donde esta pasando el cursor */
}

#menu > h1 > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: normal;
}

#menu > div > i,
#menu > div > ul > li > a,
#menu > h1 > a {
    color: rgb(255, 255, 255);
}
#menu > div > i{
    color:yellow
}
section {
    min-height: 100vh;
    width: 80%;
    max-width: 1500px;
    padding: 4em;
    margin: 0 auto;
}

#festival {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#festival > div:first-child {
    width: 25%;
}

#festival > div:last-child {
    width: 70%;
}

#festival > div:last-child > p {
    margin-top: 1em;
}

#experiences > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

#experiences > div > figure {
    flex: 45%;
    cursor: pointer; /* Para indicar que se puede pulsar */
}

#experiences > div > figure > figcaption {
    display: none;
}

#experiences figure img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#Store > div {
    height: auto;
    display: flex;
    justify-content: space-between;
}

#Store > div > *{
    width: 45%;
    max-width: 800px;
    filter: grayscale(100%);
}

footer {
    background-color: black;
    color: white;
    padding: 4em;
    font-size: 0.8em;
}

footer > p:not(:first-child) {
    padding-left: 1em;
}

footer > p > a {
    color: white;
    text-decoration: none;
}

#modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
}

#modal > figure {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

#modal > figure > * {
    width: 40%;
    max-width: 600px;
    align-self: center;
}

#modal > i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: black;
}

/* Media query para pantallas de menos de 750px */
@media screen and (max-width: 750px) {

    #menu > div:first-child > i {
        display: block;
        cursor: pointer;
    }

    #menu > div:first-child > ul {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        z-index: 1;
        padding: 30% 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: yellow;
        opacity: 80%;
        transition-duration: 1s;
    }

    #menu > div:first-child > ul > li > a {
        text-decoration: none;
        font-size: 2em;
        color: black;
    }

    #menu > div:first-child > ul > li:last-child {
        display: block;
        position: absolute;
        right: 2em;
        top: 2em;
    }

    #menu > div:first-child > ul > li:last-child > i {
        color: rgb(0, 0, 0);
        font-size: 2em;
        cursor: pointer;
    }
    #experiences figure figcaption {
        display: none;
      }

    #quienessomos {
        flex-direction: column;
    }

    #quienessomos > div:first-child,
    #quienessomos > div:last-child {
        width: 100%;
    }

    section {
        width: 100%;
        padding: 2em;
        padding-top: 4em;
    }

    #disenios > div > figure,
    #disenios > div > figure:nth-child(2) {
        flex-direction: column;
        margin: 2em 0;
    }

    #disenios > div > figure > img,
    #disenios > div > figure > figcaption {
        width: 100%;
    }

    #contacto > iframe {
        width: 100%;
        height: 400px;
    }

    #modal > figure {
        flex-direction: column;
        width: 100%;
    }

    #modal > figure > * {
        width: 80%;
        margin: 1rem 0;
    }
}

/* Media query para pantallas de menos de 600px */
@media screen and (max-width: 600px) {
    #disenios > div > figure {
        flex: 100%;
    }
}
